.about {
  background-image: url(../assets/about-bg.png);
  background-size: 100% 90%;
  background-repeat: no-repeat;
}

.about__font {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding-top: 110px;
}

.about__title {
  width: 80%;
  font-family: Outfit;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 116.667%;
  letter-spacing: -2px;
  color: var(--text-heading, #2d3958);
}
span {
  background: var(
    --Purple-Gradient,
    linear-gradient(186deg, #61dcdf 0.38%, #886cff 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about__content {
  width: 80%;
  height: 20px;
  color: var(--text-text, #7b88a8);
  text-align: center;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 155.556%;
  letter-spacing: -0.3px;
  padding-bottom: 80px;
}

.about__items-bg {
  width: 100%;
  min-height: 554px;
  border-radius: 20px;
  background: #fff;
  position: relative;
  padding: 60px 60px 0px 60px;
  z-index: 1;
}

.about__items-bg:hover {
  box-shadow: 0px 60px 40px 0px rgba(18, 2, 47, 0.1);
}

.about__items-bg::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: #ffc623;
  top: 225px;
  right: -80px;
  border-radius: 50% 50% 50% 0%;
}

.about__items-off {
  padding-bottom: 30px;
  a {
    color: var(--action-blue, #4f77ff);

    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 155.556%;
    letter-spacing: -0.3px;
  }
}

.about__items-title {
  h3 {
    color: var(--text-heading, #2d3958);

    font-family: Outfit;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 127.778%;
    letter-spacing: -1px;
    padding-bottom: 30px;
  }
}

.about__items-content {
  color: var(--text-text, #7b88a8);
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 155.556%;
  letter-spacing: -0.3px;
  padding-bottom: 40px;
}

.about__items-path-svg {
  display: flex;
  gap: 10px;
  align-items: center;
}

.about__items-path {
  a {
    color: var(--text-text, #7b88a8);

    font-family: Outfit;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 171.429%;
    letter-spacing: -0.3px;
    text-transform: uppercase;
  }
}

.about__items-svg1 {
  text-align: center;
  padding-top: 55px;
  padding-bottom: 40px;
}

.about__img-small {
  width: 33%;
  height: 230px;
  position: absolute;
  transform: translate(25%, 45%);
  z-index: 1;
  img {
    border-radius: 20px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  }
}

.about__items-all {
  position: relative;
  padding-right: 220px;
}

.about__img-bg {
  position: relative;
  top: -300px;
  left: 25%;
  z-index: 0;
}

.about__img-big::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  background-color: #886cff;
  bottom: 0px;
  right: -70px;
  border-radius: 50% 50% 50% 0%;
}

.about__img {
  padding-left: 40px;
}

.about__img-small {
  overflow: hidden;
  border-radius: 20px;
  img {
    transition: 0.5s;
  }
}

.about__img-small:hover {
  img {
    transform: scale(1.1);
  }
}

.about__img-big {
  overflow: hidden;
  border-radius: 20px;
  img {
    transition: 0.5s;
  }
}

.about__img-big:hover {
  img {
    transform: scale(1.1);
  }
}

.about__items-path {
  a:hover {
    color: aqua;
    transition: 0.3s;
  }
}

.about__items-path-svg {
  svg {
    path:hover {
      fill: aqua;
      transition: 0.3s;
    }
  }
}

.about__items-off {
  a:hover {
    color: aqua;
    transition: 0.3s;
  }
}

@media (max-width: 1200px) {
  .about__items-all {
    padding-right: unset;
  }
  .about__items-bg::after {
    display: none;
  }
  .about__img-big::after {
    display: none;
  }

  .about__img-small {
    img {
      display: none;
    }
  }

  .about__img-bg {
    padding: 30px;
    width: 100%;
    top: 0;
    left: 0;
  }
  .about {
    padding-bottom: 300px;
  }
  .about__pd-items {
    padding: 0px 30px;
  }
}
