.background-banner__img {
  background-image: url(../assets/Heros.png);
  background-repeat: no-repeat;
  //   background-size: 100%;
  background-position: center;
}
.background-banner__title-banner {
  h1 {
    color: var(--text-heading, #2d3958);
    text-align: center;
    font-family: Outfit;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 116.667%;
    letter-spacing: -2px;
  }
}

.background-banner__menu {
  padding: 150px 0px 200px 0px;
}

@media (max-width: 992px) {
  .background-banner__title-banner {
    h1 {
      font-size: 42px;
    }
  }
}

@media (max-width: 576px) {
  .background-banner__title-banner {
    h1 {
      font-size: 38px;
    }
  }
}
