.banner {
  padding-bottom: 100px;
}

.banner__img {
  background-image: url(../assets/Hero.png);
  background-repeat: no-repeat;
  // background-size: 100%;
  background-position: center;
}

.banner__play-button {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-top: 40px;
}

.banner__font {
  display: flex;
  flex-direction: column;
  gap: 39px;
  justify-content: center;
  align-items: center;
  padding-bottom: 320px;
  padding-top: 220px;
}

.banner__title {
  h1 {
    width: 770px;
    min-height: 144px;
    color: var(--text-heading, #2d3958);
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Outfit;
    font-size: 72px;
    font-style: normal;
    font-weight: 500;
    line-height: 108.333%;
    letter-spacing: -2px;
  }
  span {
    background: var(
      --Purple-Gradient,
      linear-gradient(186deg, #61dcdf 0.38%, #886cff 100%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Outfit;
    font-size: 72px;
    font-style: normal;
    font-weight: 500;
    line-height: 78px;
    letter-spacing: -2px;
  }
}

.banner__content {
  width: 529.302px;
  min-height: 47.95px;
  flex-shrink: 0;
  color: var(--text-text, #7b88a8);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 155.556%;
  letter-spacing: -0.3px;
}

.banner__play-bg {
  width: 52px;
  height: 52px;
  flex-shrink: 0;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.banner__play {
  display: flex;
  align-items: center;
  gap: 7px;
}

.banner__button {
  button {
    padding: 18px 32px;
    border-radius: 5px;
    background: var(--action-blue, #4f77ff);
    border: none;
  }
  a {
    color: var(--text-text-white, #fff);
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Outfit;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: -0.3px;
    text-transform: uppercase;
  }
}

.banner__play-content {
  color: var(--text-heading, #2d3958);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Outfit;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: -0.3px;
  text-transform: uppercase;
}

.banner__button {
  button:hover {
    background-color: aqua;
  }
}
