.blog {
  width: 100%;
  min-height: 1089px;
  flex-shrink: 0;
  background: var(--bgbg-light, #f8fafc);
  padding-top: 120px;
}
.blog__items-all {
  padding-top: 90px;
}

// .blog__title {
//   color: var(--text-heading, #2d3958);
//   text-align: center;
//   font-feature-settings: "clig" off, "liga" off;
//   font-family: Outfit;
//   font-size: 48px;
//   font-style: normal;
//   font-weight: 500;
//   line-height: 116.667%;
//   letter-spacing: -2px;
//   padding-top: 120px;
//   padding-right: 220px;
//   padding-left: 220px;
// }
