ul.breadcrumb {
  padding: 8px 16px;
  list-style: none;
  text-align: center;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: #7b88a8;
  content: "/\00a0";
}

.breadcrumb--color-h {
  color: var(--text-heading, #2d3958);
  text-align: center;
  font-family: Outfit;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: -0.3px;
  text-transform: uppercase;
}

.breadcrumb--color-b {
  color: var(--text-text, #7b88a8);
  font-family: Outfit;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.3px;
  text-transform: uppercase;
}
