.button {
  display: flex;
  width: 129px;
  height: 48px;
  padding: 13px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-family: Outfit;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 12px 13px 12px;
  border: none;
}

.button--blue {
  border-radius: 5px;
  background: var(--action-blue, #4f77ff);
}
button:hover {
  transition: 0.5s;
  background-color: aqua;
}

.button--violet {
  border-radius: 5px;
  background: var(--action-purple, #886cff);
  width: 140px;
  height: 48px;
}

.button--services {
  width: 209px;
  border-radius: 5px;
  background: #4f77ff;
}
.button--tables {
  border-radius: 0px 0px 10px 10px;
  background: var(--action-blue, #4f77ff);
  border: none;
  width: 100%;
  height: 60px;
}
