.items-side-bar {
  min-height: 146px;
  padding: 20px 30px 30px 30px;
  border-radius: 5px;
  background: var(--bgbg-light, #f8fafc);
}

.items-side-bar__title {
  color: var(--text-heading, #2d3958);
  font-family: Outfit;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 155.556%;
  letter-spacing: 0.4px;
  padding: 0px 0px 29px 0px;
}

.items-side-bar__select {
  border-radius: 5px;
  border: 1px solid #e7e5ea;
  background: #fff;
  width: 100%;
  padding-right: 10px;
  input {
    border: none;
    border-radius: 5px;
    padding: 15px 0px 15px 20px;
    width: 90%;
    outline: none;
  }
}

.items-side-bar__select--devices {
  width: 210px;
}
