.logos__title {
  h2 {
    color: var(--text-color-black, #000);
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Outfit;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 127.778%;
    letter-spacing: -1px;
  }
}

.logos__items {
  padding-top: 87px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 105px;
  padding-bottom: 127px;
}

.logos__items-img {
  overflow: hidden;
  padding: 10px;
  img {
    transition: 0.3s;
  }
}
.logos__items-img:hover {
  img {
    transform: scale(1.1);
  }
}
