.news {
  min-height: 820px;
  border-radius: 5px;
  border: 1px solid var(--lines-gray-line, #e7e5ea);
  background: var(--bgbg-white, #fff);
}

.news__post-font {
  padding: 25px 40px 0px 40px;
}

.news__author {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news__info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.news__info-img {
  display: flex;
  align-items: center;
}

.news__info-name {
  color: var(--text-text, #7b88a8);
  font-family: Outfit;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: -0.3px;
  text-transform: uppercase;
}

.news__info-day {
  color: var(--text-text, #7b88a8);
  text-align: right;
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 171.429%;
  letter-spacing: 0.4px;
}

.news__title {
  h2 {
    color: var(--text-heading, #2d3958);

    font-family: Outfit;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 127.778%;
    letter-spacing: -1px;
  }
}

.news__title {
  padding: 30px 0px 0px 0px;
}

.news__content {
  padding: 30px 0px 0px 0px;
  color: var(--text-text, #7b88a8);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 162.5%;
}

.news__img {
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  img {
    transition: 0.5s;
    vertical-align: middle;
  }
}

.news__img:hover {
  img {
    transform: scale(1.1);
  }
}

.news__button {
  padding: 40px 0px;
}

.news__title {
  h2:hover {
    transition: 0.5s;
    color: aqua;
  }
}

.news__title--detail {
  h2:hover {
    color: #2d3958;
  }
}

@media (max-width: 992px) {
  .news__title {
    h2 {
      font-size: 30px;
    }
  }

  .news__content {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .news__title {
    h2 {
      font-size: 26px;
    }
  }

  .news__content {
    font-size: 12px;
  }

  .news__info-name {
    font-size: 13px;
  }

  .news__info-day {
    font-size: 12px;
  }
}
