.posts__pagination {
  padding: 3px 0px 0px 360px;

  .pagination {
    display: flex;
  }

  .pagination a {
    color: var(--text-text, #7b88a8);
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Outfit;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 171.429%;
    letter-spacing: -0.3px;
    text-transform: uppercase;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
  }

  .pagination a.active {
    background-color: #4f77ff;
    color: white;
    border-radius: 5px;
  }

  .pagination a:hover:not(.active) {
    color: aqua;
    transition: 0.3s;
    transform: scale(1.3);
  }
}
