.project__items {
  padding-bottom: 120px;
  width: 100%;
  min-height: 502px;
}

.project__title {
  padding-top: 100px;
  padding-bottom: 130px;
  display: flex;
  justify-content: space-between;
}

.project__items-bg {
  text-align: center;
  position: relative;
}

.project__items-title {
  h3 {
    color: var(--text-text-white, #fff);
    text-align: center;

    font-family: Outfit;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 145.455%;
    letter-spacing: -1px;
  }
  position: relative;
  z-index: 1;
}

.project__items-content {
  color: var(--text-text-gray, #e7e5ea);
  text-align: center;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 155.556%;
  letter-spacing: -0.3px;
  position: relative;
  z-index: 1;
}

.project__items-img {
  width: 100%;
  position: absolute;
  top: -80px;
}

.project__items-img {
  overflow: hidden;
  border-radius: 20px;
  img:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
}
