.secrets {
  border-bottom: 1px solid #e7e5ea;
}

.secrets__items-title {
  padding-top: 20px;
  padding-bottom: 30px;
  a {
    color: var(--text-heading, #2d3958);

    font-family: Outfit;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 145.455%;
    letter-spacing: -1px;
  }
}

.secrets__items-content {
  color: var(--text-text, #7b88a8);
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 155.556%;
  letter-spacing: -0.3px;
}

.secrets__items-date-time {
  display: flex;
  gap: 20px;
  padding-bottom: 25px;
  padding-top: 18px;
}

.secrets__items-date {
  display: flex;
  gap: 5px;
}

.secrets__date-hour {
  color: var(--text-text, #7b88a8);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 171.429%;
  letter-spacing: -0.3px;
}

.secrets__items-img {
  overflow: hidden;
  border-radius: 20px;
  img {
    transition: 0.3s;
  }
}
.secrets__items-img:hover {
  img {
    transform: scale(1.1);
  }
}

.secrets__items-title {
  a:hover {
    color: aqua;
    transition: 0.3s;
  }
}

.secrets__items-title--small {
  padding-top: unset;
  width: 105%;
  padding-bottom: 8.5px;
}

.secrets__top {
  padding-top: 25px;
}
