.services-items {
  border-radius: 12px;
  border: 1px solid var(--lines-gray-line, #e7e5ea);
  width: 100%;
  min-height: 330px;
}

.services-items__svg {
  text-align: center;
  position: relative;
  z-index: 3;
  padding-top: 62px;
  padding-bottom: 58px;
}

.services-items__svg::before {
  content: "";
  position: absolute;
  background-color: #886cff;
  border-radius: 50%;
  top: 0;
  left: 0;
  width: 90px;
  height: 90px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.2;
}

.services-items__svg--color1::before {
  background-color: #4f77ff;
  opacity: 0.2;
}

.services-items__svg--color2::before {
  background-color: #ff9513;
  opacity: 0.2;
}

.services-items__title {
  color: var(--primary-color-black, #120f1f);
  text-align: center;
  font-family: Outfit;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 145.455%;
  letter-spacing: -1px;
  padding-bottom: 20px;
}

.services-items__content {
  color: var(--text-text, #7b88a8);
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 162.5%;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 64px;
}

.services-items__before {
  position: relative;

  .services-items::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0px;
    right: -70px;
    background-color: #4f77ff;
    border-radius: 50% 50% 50% 0%;
  }
}

.services-items:hover {
  transition: 0.5s;
  box-shadow: 0px 20px 50px 0px rgba(79, 119, 255, 0.2);
}

@media (max-width: 1200px) {
  .services-items__before {
    .services-items::after {
      width: 0;
      height: 0;
    }
  }
  .services__all {
    padding: 0 30px;
  }
}
