.side-bar-post {
  display: flex;
  gap: 20px;
  padding: 10px 0px;
}

.side-bar-post__img {
  img {
    width: 50px;
    height: 55px;
  }
}

.side-bar-post__content {
  a {
    color: var(--text-text, #7b88a8);
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 171.429%;
    letter-spacing: -0.3px;
  }
}

.side-bar-post__content {
  a:hover {
    transition: 0.3s;
    color: aqua;
  }
}
