.side-bar-post__latest {
  width: 270px;
  min-height: 354px;
  flex-shrink: 0;
  padding: 20px 30px 30px 35px;
}

.side-bar-post__post {
  display: flex;
  gap: 20px;
  padding: 10px 0px;

  img {
    width: 50px;
    height: 55px;
  }
}

.side-bar-post__content {
  a {
    color: var(--text-text, #7b88a8);
    font-feature-settings: "clig" off, "liga" off;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 171.429%;
    letter-spacing: -0.3px;
  }
}

.side-bar-post__content {
  transition: 0.3s;
  a:hover {
    color: aqua;
  }
}
