.side-bar {
  align-items: flex-start;
  display: flex;
  flex-direction: column;

  gap: 30px;
  // padding: 0px 0px 0px 50px;
}

.side-bar__all {
  border-radius: 5px;
  background: var(--bgbg-light, #f8fafc);
}
