.side-bar-tags {
  width: 270px;
  min-height: 209px;
  padding: 20px 40px 30px 30px;
}

.side-bar-tags__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.side-bar-tags__name {
  border-radius: 5px;
  background: var(--action-blue, #4f77ff);
  padding: 0px 5px;
  a {
    color: var(--text-text-white, #fff);
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    letter-spacing: -0.3px;
  }
}

.side-bar-tags__name:hover {
  transition: 0.3s;
  background: aqua;
}
