.tab {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 100px;
}

.tab__menu {
  padding-bottom: 30px;
  a {
    color: var(--text-heading, #2d3958);

    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 155.556%;
    letter-spacing: 0.4px;
    cursor: pointer;
  }
}

.tab__content {
  border-top: 1px solid #e7e5ea;
  border-bottom: 1px solid #e7e5ea;
  padding: 40px 0px 60px 0px;
}

.tab__font {
  color: var(--text-text, #7b88a8);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 162.5%;
  column-count: 2;
}

.tab__menu {
  a:hover {
    color: aqua;
    transition: 0.3s;
  }
}

@media (max-width: 576px) {
  .tab {
    flex-wrap: wrap;
  }
}
