.tables__items {
  width: 100%;
  min-height: 570px;
  border-radius: 10px;
  border: 1px solid var(--lines-gray-line, #e7e5ea);
  background: #fff;
  padding-top: 35px;
}

.tables__items-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-bottom: 30px;
}

.tables__svg-privilege {
  display: flex;
  gap: 12px;
  align-items: center;
  padding-top: 15px;
  padding-left: 100px;
}

.tables__items-package {
  color: var(--action-blue, #4f77ff);
  text-align: center;

  font-family: Outfit;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 155.556%;
  letter-spacing: 0.4px;
  padding-bottom: 10px;
}

.tables__items-price {
  color: var(--text-heading, #2d3958);
  text-align: center;

  font-family: Outfit;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 127.778%;
  letter-spacing: -1px;
}

.tables__items-desc {
  width: 323px;
  height: 45px;
  color: #696871;
  text-align: center;

  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 162.5%;
}

.tables__items-privilege {
  color: var(--text-heading, #2d3958);

  font-family: Outfit;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 145.455%;
  letter-spacing: -1px;
}

.tables__buy {
  padding-top: 60px;
}

.tables__items-all {
  position: relative;
}

.tables__items-all::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: #ffc623;
  top: 30px;
  right: -80px;
  border-radius: 50% 50% 50% 0%;
}
