$colorBlue: #616AE8;
$colorGreen: #22E4A7;
$colorGray1: #111;
$colorGray2: #222;
$colorGray3: #333;
$colorGray6: #666;


$fontPrimary: 'Poppins', sans-serif;
$fontSecondary: 'Roboto', sans-serif;
$font-family: 'Manrope', sans-serif;